<div class="routingLinks shadow-sm">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div class="link py-4 mx-3 text-muted" routerLinkActive="activeLink" routerLink="exhibitors">
        <span class="icon px-1"><i class="fa-solid fa-box"></i></span> <span class="title px-1">Exhibitors</span>
      </div>
      <div class="link py-4 mx-3 text-muted" routerLinkActive="activeLink" routerLink="sales">
        <span class="icon px-1"><i class="fa-solid fa-basket-shopping"></i></span> <span class="title px-1">Sales</span>
      </div>
      <div class="link py-4 mx-3 text-muted" routerLinkActive="activeLink" routerLink="program">
        <span class="icon px-1"><i class="fa-solid fa-calendar"></i></span> <span class="title px-1">Program</span>
      </div>
      <div class="link py-4 mx-3 text-muted" routerLinkActive="activeLink" routerLink="delegates">
        <span class="icon px-1"><i class="fa-regular fa-id-badge"></i></span> <span class="title px-1">Delegates</span>
      </div>
      <div class="link py-4 mx-3 text-muted" routerLinkActive="activeLink" routerLink="settings">
        <span class="icon px-1"><i class="fa-solid fa-gear"></i></span> <span class="title px-1">Settings</span>
      </div>
    </div>
  </div>
</div>
