<nav class="navbar navbar-expand-lg navbar-white bg-white shadow-sm position-fixed start-0 end-0 top-0">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand logo fw-bold fs-4"><img src="../../assets/logo.png"> Nor-Shipping 2019</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ps-1 pe-4 mt-1" style="border-color:#fb004f;">
          <div class="fw-bolder states">
            <span class="d-block text-muted title">DEALS</span>
            <span class="d-block fs-5">43</span>
          </div>
        </li>
        <li class="nav-item ps-1 pe-4 mt-1" style="border-color:#68008b;">
          <div class="fw-bolder states">
            <span class="d-block text-muted title">TOTAL VALUE [NOK]</span>
            <span class="d-block fs-5">4.19 mln</span>
          </div>
        </li>
        <li class="nav-item ps-1 pe-4 mt-1" style="border-color:#00b0fb;">
          <div class="fw-bolder states">
            <span class="d-block text-muted title">HIT RATE</span>
            <span class="d-block fs-5">10%</span>
          </div>
        </li>
        <li class="nav-item ps-1 pe-4 mt-1" style="border-color:#00fb32;">
          <div class="fw-bolder states">
            <span class="d-block text-muted title">DEALS WON</span>
            <span class="d-block fs-5">12/65</span>
          </div>
        </li>
        <li class="nav-item ps-1 pe-5 mt-1" style="border-color:#fb7100;">
          <div class="fw-bolder states">
            <span class="d-block text-muted title">NEW CLIENTS</span>
            <span class="d-block fs-5">8/12</span>
          </div>
        </li>
        <li class="nav-item dropdown shadow-sm border-0">
          <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="30"
              alt="Avatar" loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow border-0 shadow-top-0"
            aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-muted fw-bold">Settings</a>
            </li>
            <li>
              <a class="dropdown-item text-muted fw-bold"> My Team</a>
            </li>
            <li>
              <a class="dropdown-item text-muted fw-bold">Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <hr>
</nav>
