/* start navbar */
.navbar
{
  height: 10vh;
  z-index: 1111111111111;
  background-color: white !important;
}
.logo {
  color: var(--mainColor);
  font-family: var(--mainFont);
  cursor: pointer;
}
.nav-item
{
  height: fit-content;
  border-left: 3.5px solid;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--mainFont);
}
.states {
  font-family: var(--mainFont);
  color: var(--mainColor);
  line-height: 20px;
}
.navbar .states .title {
  font-size: small;
}
.dropdown .dropdown-item:hover
{
  color: var(--secondColor) !important;
  cursor: pointer;
}
/* End navbar */
